.select {
    width: auto;
    height: 24px;
    background: #FFFFFF;
    border: 1px solid #C2C2C2;
    border-radius: 2px;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.select:focus {

}


.option:hover {

}
