.container {
    width: 200px;

}

.wrapper {
    display: flex;
    align-items: center;
    gap: 25px;
}

.number {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}
